.l-icon {
width: 16px;
height: 16px;
overflow: hidden;
}

.l-icon-add{
	background: url('../../icons/add.gif') no-repeat center;
}

.l-icon-edit{
	background: url('../../icons/edit.gif') no-repeat center;
}

.l-icon-del{
	background: url('../../icons/delete.gif') no-repeat center;
}

.l-icon-config{
	background: url('../../icons/config.gif') no-repeat center;
}

.l-icon-set{
	background: url('../../icons/setting.gif') no-repeat center;
}

.l-icon-help{
	background: url('../../icons/help.gif') no-repeat center;
}

.l-icon-save{
	background: url('../../icons/save.gif') no-repeat center;
}

.l-icon-search{
	background: url('../../icons/search2.gif') no-repeat center;
}

.l-icon-up{
	background: url('../../icons/up.gif') no-repeat center;
}

.l-icon-down{
	background: url('../../icons/down.gif') no-repeat center;
}

.l-icon-prev{
	background: url('../../icons/prev.gif') no-repeat center;
}

.l-icon-close{
	background: url('../../icons/candle.gif') no-repeat center;
}

.l-icon-right{
	background: url('../../icons/right.gif') no-repeat center;
}
