/** bootstrap-table */
.fixed-table-toolbar .bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search {margin: 5px 0px;}

/** form 页面 */
label{font-weight: normal;}
input, textarea, .uneditable-input {
width: 206px;
}