<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd	
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<bean class="org.whale.inf.client.ClientConf" id="clientConf">
		<property name="appId" value="test"></property>
		<property name="signKey" value="111111"></property>
		<property name="serverHost" value="http://127.0.0.1:8080/inf-api-server"></property>
	</bean>
    
    <bean class="org.whale.inf.common.impl.EmptyEncryptService" id="emptyEncryptService"></bean>
    
    <bean class="org.whale.inf.client.impl.FastJsonClientCodec" id="fastJsonClientCodec"></bean>
    
    <bean class="org.whale.inf.client.impl.DefaultClientSignService" id="defaultClientSignService"></bean>
    
    <bean class="org.whale.inf.client.ClientIntfFilterRunner" id="clientIntfFilterRunner"></bean>
    
    
    <bean id="userService" class="org.whale.inf.client.HttpInvokeFactory">
        <property name="serviceInterface" value="org.whale.inf.api.UserInf"/>
        <property name="serviceUrl" value="/user"/>
    </bean>
</beans>

